<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/Fonts.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../../Content/MainStyle.css" />
    <link href="../../Content/Images/icon.png" rel="shortcut icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
